C 0 0 "PGND2_1" 0 0 0 0 60 0 L
X "PIN_TEXT" "PGND2_1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "VIN2" 0 -100 0 0 60 0 L
X "PIN_TEXT" "VIN2" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "RBOOT" 0 -200 0 0 60 0 L
X "PIN_TEXT" "RBOOT" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "CBOOT" 0 -300 0 0 60 0 L
X "PIN_TEXT" "CBOOT" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "BIAS" 0 -400 0 0 60 0 L
X "PIN_TEXT" "BIAS" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "VCC_1" 0 -500 0 0 60 0 L
X "PIN_TEXT" "VCC_1" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "FB" 0 -600 0 0 60 0 L
X "PIN_TEXT" "FB" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "AGND" 0 -700 0 0 60 0 L
X "PIN_TEXT" "AGND" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "RT" 0 -800 0 0 60 0 L
X "PIN_TEXT" "RT" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "RESET_1*" 0 -900 0 0 60 0 L
X "PIN_TEXT" "RESET_1*" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 1600 0 "SPSP" 1600 0 0 0 60 0 R
X "PIN_TEXT" "SPSP" 1370 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 0 1600 0 -1 0
C 1600 -100 "SYNC/_MODE" 1600 -100 0 0 60 0 R
X "PIN_TEXT" "SYNC/_MODE" 1370 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -100 1600 -100 -1 0
C 1600 -200 "EN" 1600 -200 0 0 60 0 R
X "PIN_TEXT" "EN" 1370 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -200 1600 -200 -1 0
C 1600 -300 "VIN1" 1600 -300 0 0 60 0 R
X "PIN_TEXT" "VIN1" 1370 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -300 1600 -300 -1 0
C 1600 -400 "PGND1_1" 1600 -400 0 0 60 0 R
X "PIN_TEXT" "PGND1_1" 1370 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -400 1600 -400 -1 0
C 1600 -500 "SW" 1600 -500 0 0 60 0 R
X "PIN_TEXT" "SW" 1370 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -500 1600 -500 -1 0
C 1600 -600 "PGND2_2" 1600 -600 0 0 60 0 R
X "PIN_TEXT" "PGND2_2" 1370 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -600 1600 -600 -1 0
C 1600 -700 "VCC_2" 1600 -700 0 0 60 0 R
X "PIN_TEXT" "VCC_2" 1370 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -700 1600 -700 -1 0
C 1600 -800 "RESET_2*" 1600 -800 0 0 60 0 R
X "PIN_TEXT" "RESET_2*" 1370 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -800 1600 -800 -1 0
C 1600 -900 "PGND1_2" 1600 -900 0 0 60 0 R
X "PIN_TEXT" "PGND1_2" 1370 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -900 1600 -900 -1 0
L 200 100 1400 100 -1 0
L 1400 -1000 1400 100 -1 0
L 1400 -1000 200 -1000 -1 0
L 200 100 200 -1000 -1 0
P "$LOCATION" "?" 1450 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

