C 0 -200 "+VIN" 0 -200 0 0 60 0 L
X "PIN_TEXT" "+VIN" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -100 "-VIN" 0 -100 0 0 60 0 L
X "PIN_TEXT" "-VIN" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 0 "REMOTE_ON/OFF" 0 0 0 0 60 0 L
X "PIN_TEXT" "REMOTE_ON/OFF" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 1600 -200 "+VOUT" 1600 -200 0 0 60 0 R
X "PIN_TEXT" "+VOUT" 1370 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -200 1600 -200 -1 0
C 1600 -100 "TRIM" 1600 -100 0 0 60 0 R
X "PIN_TEXT" "TRIM" 1370 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -100 1600 -100 -1 0
C 1600 0 "-VOUT" 1600 0 0 0 60 0 R
X "PIN_TEXT" "-VOUT" 1370 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 0 1600 0 -1 0
L 200 100 1400 100 -1 0
L 1400 -300 1400 100 -1 0
L 1400 -300 200 -300 -1 0
L 200 100 200 -300 -1 0
P "$LOCATION" "?" 1450 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

