C 0 0 "SENSE+" 0 0 0 0 60 0 L
X "PIN_TEXT" "SENSE+" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "VIN" 0 -100 0 0 60 0 L
X "PIN_TEXT" "VIN" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "ADR1" 0 -200 0 0 60 0 L
X "PIN_TEXT" "ADR1" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "ADR0" 0 -300 0 0 60 0 L
X "PIN_TEXT" "ADR0" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "ADIN" 0 -400 0 0 60 0 L
X "PIN_TEXT" "ADIN" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 1300 0 "SENSE-" 1300 0 0 0 60 0 R
X "PIN_TEXT" "SENSE-" 1070 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 0 1300 0 -1 0
C 1300 -100 "GND" 1300 -100 0 0 60 0 R
X "PIN_TEXT" "GND" 1070 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -100 1300 -100 -1 0
C 1300 -200 "SHDN*" 1300 -200 0 0 60 0 R
X "PIN_TEXT" "SHDN*" 1070 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -200 1300 -200 -1 0
C 1300 -300 "SDA" 1300 -300 0 0 60 0 R
X "PIN_TEXT" "SDA" 1070 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -300 1300 -300 -1 0
C 1300 -400 "SCL" 1300 -400 0 0 60 0 R
X "PIN_TEXT" "SCL" 1070 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -400 1300 -400 -1 0
L 200 100 1100 100 -1 0
L 1100 -500 1100 100 -1 0
L 1100 -500 200 -500 -1 0
L 200 100 200 -500 -1 0
P "$LOCATION" "?" 1150 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

